* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(/Images/imagen-aerea-estacionamiento-lleno-cerca-centro-comercial_76020-123.jpg);
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}


.contenedor {
	max-width: 90%;
	width: 400px;
	margin: 80px auto;
}

.formulario input[type='text'] {
	padding: 20px;
	border: none;
	background: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn {
	width: 100%;
	border: none;
	background: hsl(231, 78%, 56%);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn:hover {
    background-color: hsl(231, 97%, 55%);
}

#btnOne{
    background-color:hsl(231, 97%, 55%);
    color:white;
}
#btnOne:focus,#btnOne:hover{
    box-shadow: none;
    outline:none;
}

.nuevocliente .btn {
	width: 100%;
	border: none;
	background: hsl(231, 78%, 56%);
	color: lightblue;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.nuevocliente .btn:hover {
    background-color: hsl(231, 97%, 55%);
}

#header-msg{
    font-size: 50px;
    color: hsl(0, 0%, 100%);
	background-color: hsl(231, 78%, 56%);
}

.header-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
  }
  
  .header-video video {
	min-width: 100%;
	min-height: 100%;
  }
  
  .header-overlay {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: #303952;
	z-index: 1;
	opacity: .85;
  }
  
  .header-content {
	z-index: 2;
  }
  
  .header-content h1 {
	font-size: 50px;
	margin-bottom: 0;
	font-family: 'Lobster', cursive;
  }
  
  .header-content p {
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
  }

