* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}



.contenedor {
	max-width: 90%;
	width: 400px;
	margin: 80px auto;
}

.formulario input[type='text'] {
	padding: 20px;
	border: none;
	background: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn {
	width: 100%;
	border: none;
	background: hsl(231, 78%, 56%);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn:hover {
    background-color: hsl(231, 97%, 55%);
}

#formulario2 {
	width: 100%;
	border: none;
	background: hsl(231, 78%, 56%);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

#formulario2 .btn {
	width: 100%;
	border: none;
	background: hsl(231, 78%, 56%);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

#formulario2 .btn:hover {
    background-color: hsl(231, 97%, 55%);
}


.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}
.imprimir .btn {
	width: 100%;
	border: none;
	background: hsl(231, 78%, 56%);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.imprimir .btn:hover {
    background-color: hsl(231, 97%, 55%);
}

*{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    border:0
}

#header-logo{
    width:64px;
    height:64px;
}
#header-msg{
    font-size: 50px;
    color: white;
}
#btnOne{
    background-color:hsl(231, 97%, 55%);
    color:white;
    
}
#btnOne:focus,#btnOne:hover{
    box-shadow: none;
    outline:none;
}

#cabecera{
    background-color:hsl(231, 97%, 55%);
}
#searchInput{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-bottom: 1px solid #1984bc;
}
#searchInput:hover,#searchInput:focus{
    box-shadow: none;
    outline:none;
}
#btnTwo{
    background-color:hsl(231, 97%, 55%);
    color:white;
}
#btnTwo:focus,#btnOne:hover{
    box-shadow: none;
    outline:none;
}
#reloj{
    font-size: 30px;
    color: rgb(2, 0, 0);
}
#btn3{
    background-color:hsl(0, 66%, 36%);
    color:white;
    text-align:left;
    margin-left: 150%;
    margin-top: 8%;
    font-size: xx-large;
    border-radius: 12%;
}
#btn3:focus,#btnOne:hover{
    box-shadow: #242529;
    outline:invert;
    
}
.header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
  }
.content {
    max-width: 40rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
  }
  
.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: clip;
    
  }
  
  .header-video video {
    min-width: 20%;
    min-height: 20%;
  }
  
  .header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .65;
  }
  
  .header-content {
    z-index: 2;
  }

