*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: lightblue;
}
header{
    background-color:  hsl(231, 97%, 55%);
}
#header-logo{
    width:64px;
    height:64px;
}
#header-msg{
    font-size: 2em;
    color: white;
}
#navbar{
    background-color: hsl(231, 80%, 79%);
   
}
.nav-link.active{
    background-color:  hsl(231, 97%, 55%) !important;
}
.btn-seccion{
    background-color: hsl(231, 80%, 79%);
    color: white;
    right: 100%;
    padding: 0;
    margin: 0;
}

#cabecera{
   background-color: hsl(231, 80%, 55%);
}

footer{
    background-color:  hsl(231, 97%, 55%);
    font-size: 50px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

@media (max-width: 600px) {
    header{
        text-align: center;
    }
    .header-content{
        flex-wrap: wrap;
    }
    .nav-link{
        text-align: center !important;

    }
    
}    